In [55]:
import numpy as np
import pandas as pd

In [56]:
wellcome = pd.read_csv('welcome.csv',encoding = "ISO-8859-1")

In [57]:
wellcome.rename(columns = {'Journal title': 'Journal_title'}, inplace = True)

In [58]:
wellcome.rename(columns = {'Article title': 'Article_title'}, inplace = True)

In [59]:
pd.options.display.max_rows = 3000
wellcome.head()

,PMID/PMCID,Publisher,Journal_title,Article_title,COST (£) charged to Wellcome (inc VAT when charged)
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [60]:
wellcome.dtypes

PMID/PMCID                                             object
Publisher                                              object
Journal_title                                          object
Article_title                                          object
COST (£) charged to Wellcome (inc VAT when charged)    object
dtype: object

In [61]:
wellcome.rename(columns = {'COST (£) charged to Wellcome (inc VAT when charged)':'Cost'}, inplace = True)
wellcome.head()

,PMID/PMCID,Publisher,Journal_title,Article_title,Cost
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [62]:
wellcome.Cost = wellcome.Cost.str.replace('£', '').str.replace('$','')

In [63]:
wellcome.head()

,PMID/PMCID,Publisher,Journal_title,Article_title,Cost
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,685.88

In [64]:
wellcome.dtypes

PMID/PMCID       object
Publisher        object
Journal_title    object
Article_title    object
Cost             object
dtype: object

In [65]:
wellcome.Cost = wellcome.Cost.astype(float)

In [66]:
wellcome.dtypes

PMID/PMCID        object
Publisher         object
Journal_title     object
Article_title     object
Cost             float64
dtype: object

In [67]:
wellcome.describe()

                Cost
count    2127.000000
mean    24067.339972
std    146860.665559
min         0.000000
25%      1280.000000
50%      1884.010000
75%      2321.305000
max    999999.000000

In [68]:
pd.options.display.max_rows = 3000
wellcome.dropna(subset= ['Journal_title']).head()

,PMID/PMCID,Publisher,Journal_title,Article_title,Cost
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,685.88

In [69]:
wellcome['Journal_title'].head()

0    Psychological Medicine
1         Biomacromolecules
2                J Med Chem
3                J Med Chem
4                J Org Chem
Name: Journal_title, dtype: object

### Determine the Five Most Common Journals and the Total Articles for Each

In [70]:
wellcome['Journal_title'].head()

0    Psychological Medicine
1         Biomacromolecules
2                J Med Chem
3                J Med Chem
4                J Org Chem
Name: Journal_title, dtype: object

In [71]:
wellcome['Journal_title'] = wellcome['Journal_title'].str.strip()

In [72]:
wellcome['Journal_title'] = wellcome['Journal_title'].str.lower()

In [73]:
# wellcome['Journal title'] = wellcome['Journal title'].apply(change_aids)

In [74]:
wellcome['Journal_title'] = wellcome["Journal_title"].replace(to_replace={".*aids.*","journal of acquired immune deficiency syndromes"}, value="aids journal uk", regex=True)

In [75]:
wellcome['Journal_title'] = wellcome["Journal_title"].replace(to_replace={".*plos.*"}, value="plos: public library of science", regex=True)

In [76]:
wellcome['Journal_title'] = wellcome["Journal_title"].replace(to_replace={".*frontiers.*"}, value="frontiers of medicine", regex=True)

In [77]:
wellcome['Journal_title'] = wellcome["Journal_title"].replace(to_replace={".*febs.*"}, value="febs: federation of european biochemical societies", regex=True)

In [78]:
wellcome['Journal_title'] = wellcome["Journal_title"].replace(to_replace={".*biological chemistry.*", "j biol chem."}, value="journal of biological chemistry", regex=True)

In [79]:
wellcome['Journal_title'] = wellcome["Journal_title"].replace(to_replace={".*pnas.*","proceedings of the national academy of sciences of the united states of america","national academy of sciences"}, value="proceedings of the national academy of sciences", regex=True)

In [80]:
wellcome['Journal_title'] = wellcome["Journal_title"].replace(to_replace={".*blood journal 2012.*"}, value="blood", regex=True)

In [81]:
wellcome['Journal_title'] = wellcome["Journal_title"].replace(to_replace={".*bmj.*"}, value="british medical journal", regex=True)

In [82]:
wellcome['Journal_title'].head()
# wellcome.loc[wellcome['Journal title']=='aids journal uk']

0    psychological medicine
1         biomacromolecules
2                j med chem
3                j med chem
4                j org chem
Name: Journal_title, dtype: object

In [83]:
pd.options.display.max_rows = 1000
wellcome['Journal_title'].value_counts().head()

plos: public library of science                                       298
journal of biological chemistry                                        71
proceedings of the proceedings of the national academy of sciences     34
frontiers of medicine                                                  33
neuroimage                                                             29
Name: Journal_title, dtype: int64

In [84]:
wellcome.Journal_title.nunique()

826

In [85]:
# This creates a list of all of the unique terms in the "Journal_title" column.
# wellcome.Journal_title.unique()

### Calculate the mean, median, and standard deviation of the open-access cost per article for each journal.

In [86]:
plos_df = wellcome[(wellcome.Journal_title == 'plos: public library of science') & 
                   (wellcome.Cost <= 3000)]

In [87]:
plos_df.describe()

              Cost
count   284.000000
mean   1112.179155
std     349.778460
min     122.310000
25%     870.130000
50%    1014.380000
75%    1417.657500
max    1889.000000

In [88]:
plos_df.head()

,PMID/PMCID,Publisher,Journal_title,Article_title,Cost
1278,PMC3744396,PLOS,plos: public library of science,Spike triggered hormone secretion in vasopress...,1429.13
1279,PMC3681601,PLoS,plos: public library of science,Meiosis-specific stable binding of Augmin to a...,1494.42
1280,3715439,Plos,plos: public library of science,Strabismus promotes recruitment and degradatio...,1761.48
1281,PMC3493395,PLOS,plos: public library of science,Chitinase 3-like 1 protein levels are elevated...,1283.76
1282,3517619,PLoS,plos: public library of science,HCN1 and HCN2 in Rat DRG Neurons: Levels in No...,1001.03

In [89]:
jbc_df = wellcome[wellcome.Journal_title == 'journal of biological chemistry']

In [90]:
jbc_df.describe()

                Cost
count      71.000000
mean    29514.215634
std    166402.753547
min       265.670000
25%      1156.405000
50%      1324.570000
75%      1583.415000
max    999999.000000

In [91]:
jbc_df.head()

,PMID/PMCID,Publisher,Journal_title,Article_title,Cost
16,22610094,AMBSB,journal of biological chemistry,Annexin-1 interaction with FPR2/ALX,265.67
60,PMC3576085,American Soc for Biochemistry and Molecular Bi...,journal of biological chemistry,Understanding how noncatalytic carbohydrate bi...,1100.00
61,23239883 PMC3561570,American Society for Biochemistry and Molecula...,journal of biological chemistry,Molecular architecture and functional analysis...,2259.64
62,PMC3481300,American Society for Biochemistry and Molecula...,journal of biological chemistry,Structure of the BMP receptor ALK2 and implica...,1487.46
63,PMC3234852,American Society for Biochemistry and Molecula...,journal of biological chemistry,Inhibitory member of the apoptosis-stimulating...,1531.08

In [92]:
front_df = wellcome[(wellcome.Journal_title == 'frontiers of medicine') & 
                   (wellcome.Cost <= 3000)]

In [93]:
front_df.describe()

              Cost
count    32.000000
mean    858.577500
std     254.464764
min     346.250000
25%     763.305000
50%     823.675000
75%     978.835000
max    1644.250000

In [94]:
neuroimage_df = wellcome[(wellcome.Journal_title == 'neuroimage') & 
                   (wellcome.Cost <= 3000)]

In [95]:
neuroimage_df.describe()

              Cost
count    29.000000
mean   2215.168276
std     266.653947
min    1747.160000
25%    2100.540000
50%    2326.430000
75%    2396.570000
max    2503.340000

In [96]:
neuroimage_df.head()

,PMID/PMCID,Publisher,Journal_title,Article_title,Cost
437,23672768,Elseveier Science,neuroimage,Gearing up for action: attentive tracking dyna...,1758.89
438,23046981,Elseveier Science,neuroimage,Good practice for conducting and reporting MEG...,2345.00
689,PMC3734349\n,Elsevier,neuroimage,Connectivity-based neurofeedback: dynamic caus...,1747.16
690,PMC3734350\n,Elsevier,neuroimage,The impact of distractor congruency on stimulu...,1760.94
691,PMC3734351\n,Elsevier,neuroimage,Distinct encoding of risk and value in economi...,1762.69

In [97]:
nar_df = wellcome[(wellcome.Journal_title == 'nucleic acids research') & 
                   (wellcome.Cost <= 3000)]

In [98]:
nar_df.describe()

              Cost
count    26.000000
mean   1149.000000
std     442.940447
min     710.000000
25%     852.000000
50%     852.000000
75%    1704.000000
max    2184.000000

In [99]:
nar_df.head()

,PMID/PMCID,Publisher,Journal_title,Article_title,Cost
1148,23595147 PMCID: PMC3675483,OUP,nucleic acids research,Nucleocapsid protein structures from orthobuny...,1704.0
1149,PMID: 23771140 /PMCID: PMC3753647,OUP,nucleic acids research,Impact of Target Site Distribution for Type I ...,2184.0
1150,3467080,OUP,nucleic acids research,Protein kinase CK2 inactivates PRH/Hhex using ...,852.0
1151,3553950,OUP,nucleic acids research,The Type ISP Restriction-Modification enzymes ...,852.0
1152,3553963,OUP,nucleic acids research,DNA cleavage by Type ISP Restriction-Modificat...,852.0